#bottom{
    animation: AnimationIn 4s linear 0s;
}

#firework_1{
    position: fixed;
    left:-30;
    bottom: -80;
}

#firework_2{
    position: fixed;
    right:360;
    bottom: -40;
}

#firework_3{
    position: fixed;
    left:360;
    bottom: -40;
}

#firework_4{
    position: fixed;
    right: -30;
    bottom: -40;
}

#firework_5{
    position: fixed;
    right: 20;
    bottom: 100;
}

#firework_6{
    position: fixed;
    left: 20;
    bottom: 100;
}

#btn_play{
    z-index: 100;
    position: fixed;
    bottom: 10%;
    width: 100%;
    animation: AnimationIn 2s linear 0s;
}

#btn_play span{
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px 5px;
    border-radius: 5px;
    border:2px solid white;
    width: 10%;
    background-color: thistle;
}

#btn_play span:hover{
    background-color: tomato;
}

#Firework_Canvas{
    z-index: 50;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 845px){
    #firework_5{
        display: none;
    }

    #firework_6{
        display: none;
    }
}