#Game_Canvas{
    z-index: 50;
    border-radius: 5px;
    border: 1px solid black;
    background-color: aliceblue;
    display: block;
    margin: 20px auto 5px auto;
    animation: AnimationIn 2s linear 0s;
}

#Display_ExpBtn{
    display: block;
    margin: auto;
}

#Display_Exp{
    display: none;
    color:white;
    text-align: center;
}