.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content > div{
    flex: 1;
}
.content > div > h3{
    color: white;
    background-color: rgb(0, 0, 255);
    width: 85%;
    margin-left: 3px;
}
.content > div li{
    margin: 3px;
}
.content > div > ul > li > a{
    color: black;
}


@media (max-width:570px){
    .content{
        flex-direction: column;
    }
    .bottom{
        position: static;
    }
}