.main{
    width: 100%;
}
.main div{
    margin-top: 30px;
}
#ans{
    color:red;
}
@media only screen and (max-width: 769px){
    #baseL{
        width: 120px;
    }
    #baseR{
        width: 120px;
    }
}